<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css')
    }}"
    />
    <title>Dashboard</title>
  </head>
  <body>
    <header class="header">
      <a href="#" class="logo">Dashboard</a>
      <nav class="navbar">
        <a href="{{ url_for('exercise_library') }}">Exercises</a>
        <a href="{{ url_for('workouts') }}">Workouts</a>
        <a href="{{ url_for('nutrition') }}">Nutrition</a>
        <a href="{{ url_for('progress') }}">Track Progress</a>
        <a href="{{ url_for('logout') }}">Logout</a>
      </nav>
    </header>
    <div class="dashboard-body">
      <h2>Welcome, {{username}}!</h2>
    </div>
  </body>
</html>
